<%= form_with model: @video, url: videos_path, class:'form-wrap', local: true do |form| %>
  <%= render 'shared/error_messages', model: form.object %> 


<div class='page-form'>

  <div class='page-field'>
    <%= form.label :title, "title"%>
    <%= form.text_field :title, class:"input-form" %>
  </div>

  <div>
    <%= form.label :position_id, "対象ポジション"%>
    <%= form.collection_select(:position_id, Position.all, :id, :name, {}, {class:"select"}) %>
  </div>
  
  <div class='page-field'>
    <%= form.label :introduction, "introduction"%>
    <%= form.text_area :introduction, class:"input-form" %>
  </div>

  <%= form.label :image, "image(jpg, png, gif)"%>
  <%= form.file_field :image %>
  
  <%= form.label :video, "video(mp4, mov)"%>
  <%= form.file_field :video %>

  <div class="tag-field", id='tag-field'>
    <%= form.label :tag_name, "タグ" %>
    <%= form.text_field :tag_name, class:"input-tag" %>
  </div>
  <div id="search-result">
  </div>

</div>
  
  <div class="submit-post">
    <%= form.submit '編集' ,class:"submit-btn" %>
  </div>
  <div>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>

<% end %>